<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>锦江都城酒店</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="icon" href="__PUBLIC__img/index/icon.png">
    <link rel="stylesheet" href="__PUBLIC__css/reset.css">
    <link rel="stylesheet" href="__PUBLIC__public/swiper/swiper-4.2.0.min.css">
    <link rel="stylesheet" href="__PUBLIC__css/index/index.css">
    <link rel="stylesheet" href="__PUBLIC__public/swiper/animate.min.css">
    <link rel="stylesheet" href="__PUBLIC__css/index/join.css">
    <script src="__PUBLIC__public/jquery/jquery-1.10.1.min.js"></script>
    <script src="__PUBLIC__public/swiper/swiper-4.2.0.min.js"></script>
    <script src="__PUBLIC__public/swiper/swiper.animate1.0.3.min.js"></script>
    <script src="__PUBLIC__js/common.js"></script>
    <style>
        .footer {position: unset;}
    </style>
</head>
<body>
<!-- header -->
<header class="header">
    <div class="nav">
        <div class="nav_btn nav_btn_open">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="nav_ul nav_ul_open">
            <li>
                <a href="/index/index/index">
                    <img src="__PUBLIC__img/index/nav1.png" alt="">
                    <span>品牌介绍</span>
                </a>
            </li>
            <li>
                <a href="/index/join/index">
                    <img src="__PUBLIC__img/index/nav2.png" alt="">
                    <span>加盟合作</span>
                </a>
            </li>
            <li>
                <a href="/index/news/index">
                    <img src="__PUBLIC__img/index/nav3.png" alt="">
                    <span>品牌活动</span>
                </a>
            </li>
            <li>
                <a href="/index/reserve/index">
                    <img src="__PUBLIC__img/index/nav4.png" alt="">
                    <span>酒店预订</span>
                </a>
            </li>
        </ul>
        <div class="ce-btn">
            <div class="ce-btns">
                <i class="tel"><img src="__PUBLIC__img/have_you/phone.png" width="100%" alt=""></i>
                <div class="Alert" style="text-align: center;width:140px;line-height:40px; border:1px solid #a87200;height:40px;background:#fff;"><a href="tel:17717393689">17717393689</a></div>
            </div>
            <div class="ce-btns">
                <i class="weixin"><img src="__PUBLIC__img/have_you/weixin.png" width="100%" alt=""></i>
                <div class="Alert" style="text-align: center;width:140px;line-height:40px;height:40px;"><span><img src="__PUBLIC__img/index/qrcode2.png" alt="" width="70%"></span></div>
            </div>
        </div>
    </div>
    <img src="__PUBLIC__img/index/logo.png" alt="">
</header>
<div class="banner">
    <div><img src="__PUBLIC__img/join/banner.png" width="100%" alt=""></div>
</div>
<div style="background:#f6f6f6;">
    <div class="contents">
        <div class="clearfloat join_box">
            <div class="join_left clearfloat">
                <div class="border">
                    <div>
                        <h2>经典版</h2>
                        <p>·&nbsp;固定费用50万</p>
                        <p>·&nbsp;浮动费用5000元/间</p>
                        <p>·&nbsp;保证金10万</p>
                    </div>
                </div>
                <div class="border">
                    <div>
                        <h2>商务版</h2>
                        <p>·&nbsp;固定费用35万</p>
                        <p>·&nbsp;浮动费用3500元/间</p>
                        <p>·&nbsp;保证金10万</p>
                    </div>
                </div>
                <div class="border">
                    <div>
                        <h2>中央渠道费</h2>
                        <p>· 按每订单客收入的5%</p>

                    </div>
                </div>
                <div class="border">
                    <div>
                        <h2>管理费</h2>
                        <p>· 每月总营收的5%</p>
                    </div>
                </div>
            </div>
            <div class="join_right">
                <div>
                    <h1>加盟费用</h1>
                    <span>重新开启的温暖记忆，一份可以传承的家业</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--------------------------------------------------->
<div class="contents yunying">
    <h1>八大运营体系</h1>
    <p>依托于锦江集团的雄厚背景与先进经验，锦江都城在专业领域为您</p>
    <p>提供专业的服务与管理。凭借优秀的管理团队，严谨的运营保障，卓越的绩效管理，</p>
    <p>为您的投资加盟保驾护航</p>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="icon">
                    <span><img src="__PUBLIC__img/join/run1.png" alt=""></span>
                    <p>市场营销管理体系</p>
                </div>
                <div class="icon">
                    <span><img src="__PUBLIC__img/join/run2.png" alt=""></span>
                    <p>加盟管理体系</p>
                </div>
                <div class="icon">
                    <span><img src="__PUBLIC__img/join/run033.png" alt=""></span>
                    <p>卓越绩效管理系统</p>
                </div>
                <div class="icon">
                    <span><img src="__PUBLIC__img/join/run4.png" alt=""></span>
                    <p>信息化管理系统</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="icon">
                    <span><img src="__PUBLIC__img/join/run8.png" alt=""></span>
                    <p>人员培训系统</p>
                </div>
                <div class="icon">
                    <span><img src="__PUBLIC__img/join/run7.png" alt=""></span>
                    <p>运营保障支持系统</p>
                </div>
                <div class="icon">
                    <span><img src="__PUBLIC__img/join/run6.png" alt=""></span>
                    <p>品牌标准系统</p>
                </div>
                <div class="icon">
                    <span><img src="__PUBLIC__img/join/run5.png" alt=""></span>
                    <p>共享业务管理系统</p>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>
<!--------------------------------------------------------------->
<div class="strategy">
    <div class="contents fulls">
        <b><h1 style="text-align:center;">开店攻略</h1></b>
        <p>酒店选址</p>
        <div class=" clearfloat">
            <div class="f_l">
                <div class="mid_box">
                    <div class="mr_box">
                        <img src="__PUBLIC__img/join/ideaitem4.png" alt="">
                    </div>
                    <div class="ml_box ttt">
                        <p>首选一线城市</p>
                        <p>布局北上广深</p>
                    </div>
                </div>
                <div class="mid_box">
                    <div class="mr_box">
                        <img src="__PUBLIC__img/join/ideaitem1.png" alt="">
                    </div>
                    <div class="ml_box ttt">
                        <p>二线城市以核心地段为主</p>
                        <p>交通枢纽中心地段</p>
                    </div>
                </div>
            </div>
            <div class="f_r">
                <div class="mid_box">
                    <div class="mr_box">
                        <img src="__PUBLIC__img/join/ideaitem3.png" alt="">
                    </div>
                    <div class="ml_box ttt">
                        <p>三线城市</p>
                        <p>核心地段酒店物业改造为主</p>
                    </div>
                </div>
                <div class="mid_box">
                    <div class="mr_box">
                        <img src="__PUBLIC__img/join/ideaitem2.png" alt="">
                    </div>
                    <div class="ml_box ttt">
                        <p>拓展新兴市场</p>
                        <p>其他旅游型城市和地区</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--------------------------------------------------------->
<div style="background-image: url(__PUBLIC__img/join/bg_bg.png);">
    <div class="contents clearfloat">
        <div class="left_box">
            <div>
                <h1>开店攻略</h1>
                <h1 style="border-bottom:1px solid #333;padding:4% 0%;font-weight: normal">注意事项</h1>
                <div class="clearfloat">
                    <p><span><img src="__PUBLIC__img/join/warnlogo1.png" width="15%" alt=""></span>精准定位酒店属性</p>
                    <p><span><img src="__PUBLIC__img/join/warnlogo2.png" width="15%" alt=""></span>精确计算投资回报</p>
                    <p><span><img src="__PUBLIC__img/join/warnlogo3.png" width="15%" alt=""></span>精细把握服务质量</p>
                    <p><span><img src="__PUBLIC__img/join/warnlogo4.png" width="15%" alt=""></span>精挑细选物业产权</p>
                </div>
            </div>
        </div>
        <div class="right_box">
            <div>
                <span><img src="__PUBLIC__img/join/warnitem1.png" width="100%" alt=""></span>
                <div>
                    <h3>酒店体量</h3>
                    <p>4000平米以上，80间客房以上</p>
                </div>
            </div>
            <div>
                <span><img src="__PUBLIC__img/join/warnitem2.png" width="100%" alt=""></span>
                <div>
                    <h3>客房大小</h3>
                    <p>新建项目:客房面积大于25平米</p>
                    <p>改造项目:视物业现状合理布局</p>
                </div>
            </div>
            <div>
                <span><img src="__PUBLIC__img/join/warnitem3.png" width="100%" alt=""></span>
                <div>
                    <h3>产权性质</h3>
                    <p>商业或商业混合</p>
                </div>
            </div>
            <div>
                <span><img src="__PUBLIC__img/join/warnitem4.png" width="100%" alt=""></span>
                <div>
                    <h3>工程装修</h3>
                    <p>结合一城一品</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="contents">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper_left">
                        <h1>运营案例</h1>
                        <h2>南京百家湖店</h2>
                        <p>自开业以来得到社会以及顾客的关注与好评，以周到的服务和整洁的环境打造出属于锦江都城的良好口碑.</p>
                        <div>
                            <span><img src="__PUBLIC__img/join/example1.png" alt=""></span>
                            <p>利润案例</p>
                        </div>
                        <div>
                            <span><img src="__PUBLIC__img/join/example2.png" alt=""></span>
                            <p>运营能力</p>
                        </div>
                        <div>
                            <span><img src="__PUBLIC__img/join/example3.png" alt=""></span>
                            <p>收益能力</p>
                        </div>
                    </div>
                    <div class="swiper_right">
                        <span><img src="__PUBLIC__img/join/search2.png" width="100%" alt=""></span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper_left">
                        <h1>运营案例</h1>
                        <h2>杭州西湖文化广场酒店</h2>
                        <p>地处繁华的杭州市主城区文晖路，近京杭大运河西湖文化广场段；周围交通便捷，商业繁华。</p>
                        <div>
                            <span><img src="__PUBLIC__img/join/example1.png" alt=""></span>
                            <p>利润案例</p>
                        </div>
                        <div>
                            <span><img src="__PUBLIC__img/join/example2.png" alt=""></span>
                            <p>运营能力</p>
                        </div>
                        <div>
                            <span><img src="__PUBLIC__img/join/example3.png" alt=""></span>
                            <p>收益能力</p>
                        </div>
                    </div>
                    <div class="swiper_right">
                        <span><img src="__PUBLIC__img/join/search3.png" width="100%" alt=""></span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper_left">
                        <h1>运营案例</h1>
                        <h2>青岛新都心酒店</h2>
                        <p>锦江都城(青岛新都心店)地处青岛市市北区黑龙江南路，致力于向中产阶级商务旅游客人提供精准专业且始终如一的商旅服务。</p>
                        <div>
                            <span><img src="__PUBLIC__img/join/example1.png" alt=""></span>
                            <p>利润案例</p>
                        </div>
                        <div>
                            <span><img src="__PUBLIC__img/join/example2.png" alt=""></span>
                            <p>运营能力</p>
                        </div>
                        <div>
                            <span><img src="__PUBLIC__img/join/example3.png" alt=""></span>
                            <p>收益能力</p>
                        </div>
                    </div>
                    <div class="swiper_right">
                        <span><img src="__PUBLIC__img/join/search1.png" width="100%" alt=""></span>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination gua" style="text-align: left;"></div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-up">
        <img src="__PUBLIC__img/index/footlogo.png" alt="">
        <div class="footer-line">
            <a href="/index/index/index">
                品牌介绍
            </a>
            <a href="/index/join/index">
                加盟合作
            </a>
            <a href="/index/news/index">
                品牌活动
            </a>
            <a href="/index/reserve/index">
                酒店预定
            </a>
        </div>
    </div>
    <div class="footer-down">
        <p>Copyright © 2018 锦江都城. All Right Reserved.</p>
        <p>
            <a href="http://www.miitbeian.gov.cn">沪ICP备06010411号-8</a>
        </p>
        <p class="qiniuniu">技术支持
            <a href="http://www.qiniuniu.com" target="_blank">
                <img src="__PUBLIC__img/index/qiniuniu.png" width="2%">
            </a>
        </p>
    </div>
</div>
<!---------------------------------------------------->
<script src="__PUBLIC__js/index/index.js"></script>
<script>

        var swiper = new Swiper('.swiper-container', {
            autoplay:true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
//        setInterval("swiper.slidePrev()",1000);
</script>
</body>
