<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>锦江都城酒店</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<link rel="icon" href="__PUBLIC__img/index/icon.png">
	<link rel="stylesheet" href="__PUBLIC__css/reset.css">
	<link rel="stylesheet" href="__PUBLIC__css/index/index.css">
	<script src="__PUBLIC__public/jquery/jquery-1.10.1.min.js"></script>
	<script src="__PUBLIC__public/iscroll/iscroll.min.js"></script>
	<script src="__PUBLIC__js/common.js"></script>

</head>
<body>
<!-- header -->
<header class="header">
	<div class="nav">
		<div class="nav_btn nav_btn_open">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<ul class="nav_ul nav_ul_open">
			<li>
				<a href="/index/index/index">
					<img src="__PUBLIC__img/index/nav1.png" alt="">
					<span>品牌介绍</span>
				</a>
			</li>
			<li>
				<a href="/index/join/index">
					<img src="__PUBLIC__img/index/nav2.png" alt="">
					<span>加盟合作</span>
				</a>
			</li>
			<li>
				<a href="/index/news/index">
					<img src="__PUBLIC__img/index/nav3.png" alt="">
					<span>品牌活动</span>
				</a>
			</li>
			<li>
				<a href="/index/reserve/index">
					<img src="__PUBLIC__img/index/nav4.png" alt="">
					<span>酒店预订</span>
				</a>
			</li>
		</ul>
		<div class="ce-btn">
			<div class="ce-btns">
				<i class="tel"><img src="__PUBLIC__img/have_you/phone.png" width="100%" alt=""></i>
				<div class="Alert" style="text-align: center;width:140px;line-height:40px; border:1px solid #a87200;height:40px;background:#fff;"><a href="tel:17717393689">17717393689</a></div>
			</div>
			<div class="ce-btns">
				<i class="weixin"><img src="__PUBLIC__img/have_you/weixin.png" width="100%" alt=""></i>
				<div class="Alert" style="text-align: center;width:140px;line-height:40px;height:40px;"><span><img src="__PUBLIC__img/index/qrcode2.png" alt="" width="70%"></span></div>
			</div>
		</div>
	</div>
	<img src="__PUBLIC__img/index/logo.png" alt="">
</header>
<!-- content -->
<div class="detailcon">
	<div class="detailcon-all detailcon-main" id="wrapper">
		<div class="detailcon-article">
			<h3>{$data.title}</h3>
			<div class="detailcon-icon">
				<div>
					<img src="__PUBLIC__img/news/news-tag1.png" alt="">
					<span>{$data.time.year}-{$data.time.month}-{$data.time.day}</span>
				</div>
				<div>
					<img src="__PUBLIC__img/news/news-tag2.png" alt="">
					<span>{$data.location}</span>
				</div>
				<div>
					<img src="__PUBLIC__img/news/news-tag3.png" alt="">
					<span>发布人:{$data.author}</span>
				</div>
			</div>
			{$content.content}
		</div>
	</div>
	<div class="detailcon-all detailcon-tab">
		<h3>更多活动推荐</h3>
		<span></span>
		{volist name="rec" id="r"}
		<a href="{:url('index/activity/detail',['id'=>$r.id])}">
			<div class="detailcon-card">
				<div class="detailcon-card-right">
					<h4>{$r.title}</h4>
					<img src="__PUBLIC__{$r.cover_img}" alt="">
					<span>{$r.time.month}月{$r.time.day}日 {$r.time.year}</span>
				</div>
			</div>
		</a>
		{/volist}
	</div>
</div>
<!-- footer -->
<div class="footer news-footer detail-footer" style="background-color:#ffffff;padding-bottom:0;">
	<div class="footer-up">
		<!-- <img src="__PUBLIC__img/index/footlogo.png" alt=""> -->
		<!-- <div class="footer-line">
            <a href="#">
                品牌介绍
            </a>
            <a href="#">
                加盟合作
            </a>
            <a href="#">
                品牌活动
            </a>
            <a href="#">
                酒店预定
            </a>
        </div> -->
	</div>
	<div class="footer-down" style="margin-top:0;">
		<p>Copyright © 2018 锦江都城. All Right Reserved. <a href="http://www.miitbeian.gov.cn">沪ICP备06010411号-8</a></p>
		<!-- <p>
            <a href="http://www.miitbeian.gov.cn">沪ICP备06010411号-8</a>
        </p> -->
		<p class="qiniuniu qiniuniu-news" style="margin-top:0;">技术支持
			<a href="http://www.qiniuniu.com" target="_blank">
				<img src="__PUBLIC__img/index/qiniuniu.png">
			</a>
		</p>
	</div>
</div>
<script src="__PUBLIC__js/detail/detail.js"></script>

</body>
</html>