<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>锦江都城酒店</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<link rel="icon" href="__PUBLIC__img/index/icon.png">
		<link rel="stylesheet" href="__PUBLIC__css/reset.css">
		<link rel="stylesheet" href="__PUBLIC__public/swiper/swiper-4.2.0.min.css">
		<link rel="stylesheet" href="__PUBLIC__css/index/index.css">
		<link rel="stylesheet" href="__PUBLIC__public/swiper/animate.min.css">
		<script src="__PUBLIC__public/jquery/jquery-1.10.1.min.js"></script>
		<script src="__PUBLIC__public/swiper/swiper-4.2.0.min.js"></script>
		<script src="__PUBLIC__public/swiper/swiper.animate1.0.3.min.js"></script>
		<script src="__PUBLIC__js/common.js"></script>
		<style>
			#certify .swiper-pagination{margin-top:2%;}
		</style>
	</head>
	<body>
		<!-- header -->
		<header class="header">
			<div class="nav">
				<div class="nav_btn nav_btn_open">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<ul class="nav_ul nav_ul_open">
					<li>
						<a href="/index/index/index">
							<img src="__PUBLIC__img/index/nav1.png" alt="">
							<span>品牌介绍</span>
						</a>
					</li>
					<li>
						<a href="/index/join/index">
							<img src="__PUBLIC__img/index/nav2.png" alt="">
							<span>加盟合作</span>
						</a>
					</li>
					<li>
						<a href="/index/news/index">
							<img src="__PUBLIC__img/index/nav3.png" alt="">
							<span>品牌活动</span>
						</a>
					</li>
					<li>
						<a href="/index/reserve/index">
							<img src="__PUBLIC__img/index/nav4.png" alt="">
							<span>酒店预订</span>
						</a>
					</li>
				</ul>
				<div class="ce-btn">
					<div class="ce-btns">
						<i class="tel"><img src="__PUBLIC__img/have_you/phone.png" width="100%" alt=""></i>
						<div class="Alert" style="text-align: center;width:140px;line-height:40px; border:1px solid #a87200;height:40px;background:#fff;"><a href="tel:17717393689">17717393689</a></div>
					</div>
					<div class="ce-btns">
						<i class="weixin"><img src="__PUBLIC__img/have_you/weixin.png" width="100%" alt=""></i>
						<div class="Alert" style="text-align: center;width:140px;line-height:40px;height:40px;"><span><img src="__PUBLIC__img/index/qrcode2.png" alt="" width="70%"></span></div>
					</div>
				</div>
			</div>
			<img src="__PUBLIC__img/index/logo.png" alt="">
		</header>
		<!-- swiper -->
		<div class="swiper-container all_swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide index-slide1">
					<!-- swiper1 -->
					<p class="index1-h ani" swiper-animate-effect="slideInDown" swiper-animate-duration="0.5s">锦江都城酒店</p>
					<div id="certify">
						<div class="swiper-container swiper1">
							<div class="swiper-wrapper">
								<div class="swiper-slide swiper-no-swiping" style="background-image: url(__PUBLIC__img/index/hotel1.png);">
								</div>
								<div class="swiper-slide swiper-no-swiping" style="background-image: url(__PUBLIC__img/index/hotel6.png);">
								</div>
								<div class="swiper-slide swiper-no-swiping" style="background-image: url(__PUBLIC__img/index/hotel3.png);">
								</div>
								<div class="swiper-slide swiper-no-swiping" style="background-image: url(__PUBLIC__img/index/hotel4.png);">
								</div>
								<div class="swiper-slide swiper-no-swiping" style="background-image: url(__PUBLIC__img/index/hotel7.jpg);">
								</div>
							</div>
						</div>
						<div class="swiper-pagination swiper1-swiper-pagination"></div>
						<p class="index1-p ani" swiper-animate-effect="slideInUp" swiper-animate-duration="0.5s">锦江都城品牌作为锦江卢浮亚洲旗下专注于传播多元文化体验的文化产业型个性化连锁酒店品牌，超过138家的酒店遍布中国80多个城市。我们致力于搭建东西方文化交流的桥梁，演绎中华传统文化，展现世界多元文化，促进世界文化交流。</p>
					</div>
				</div>
				<div class="swiper-slide index-page2">
					<div class="index-page2-con">
						<div class="index-page2-img ani" swiper-animate-effect="slideInLeft" swiper-animate-duration="0.3s">
							<img src="__PUBLIC__img/index/page2item.png" alt="">
						</div>
						<div class="index-page2-article ani" swiper-animate-effect="slideInRight" swiper-animate-duration="0.3s">
							<h3>品牌介绍</h3>
							<!-- <p class="p1">Brand Introduction</p> -->
							<p class="p2">锦江都城品牌依托于锦江卢浮亚洲中法团队的国际化管理，专注于传播多元文化体验的文化产业型酒店品牌，致力于搭建东西方文化交流的桥梁，演绎中华传统文化，展现世界多元文化，让充满好奇心、追求全新体验的全球游客享受一种别致的文旅待客之道。</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide index-page3">
					<div class="index-page3-left">
						<div class="company-bg ani" swiper-animate-effect="slideInLeft" swiper-animate-duration="0.5s">
							<h3>集团背景</h3>
							<!-- <p class="p1">Group Background</p> -->
							<p class="p2">锦江国际集团是中国规模最大的综合性旅游企业集团之一，是全球五大顶级酒店集团之一，注册资本20亿元，总资产600亿元，设有酒店、旅游、客运物流、地产、实业、金融六个事业部。</p>
							<p class="p3">锦江国际集团是亚洲第一、全球第五的酒店集团，全球管理将近八千家酒店，拥有1.5亿会员。2017年上海锦江卢浮亚洲酒店管理有限公司正式成立，是国企旗下覆盖一带一路国家及地区的国际化的专业酒店管理公司。</p>
						</div>
					</div>
					<div class="index-page3-right">
						<div class="market-bg ani" swiper-animate-effect="slideInRight" swiper-animate-duration="0.5s">
							<div class="market-t">
								<h3>旗下上市公司</h3>
								<!-- <p>Listed company</p> -->
							</div>
							<div class="market-crad-con" >
								<div class="market-card ani" swiper-animate-effect="bounceIn" swiper-animate-duration="0.3s"  swiper-animate-delay="0.2s">
									<img src="__PUBLIC__img/index/card-bg.png" alt="">
									<div class="card-t">
										<p class="p1">锦江酒店</p>
										<p class="p2">
											<span>——</span>
											2006HK
											<span>——</span>
										</p>
										<p class="p3"></p>
										<p class="p4">中国内地首家登陆香港资本市场的纯中国酒店概念股</p>
									</div>
								</div>
								<div class="market-card ani" swiper-animate-effect="bounceIn" swiper-animate-duration="0.3s"  swiper-animate-delay="0.4s">
									<img src="__PUBLIC__img/index/card-bg.png" alt="">
									<div class="card-t">
										<p class="p1">锦江股份</p>
										<p class="p2">
											<span>——</span>
											600754
											<span>——</span>
										</p>
										<p class="p3">900934</p>
										<p class="p4">锦江卢浮及卢浮亚洲旗下近3000家酒店已覆盖一带一路</p>
									</div>
								</div>
								<div class="market-card ani" swiper-animate-effect="bounceIn" swiper-animate-duration="0.3s"  swiper-animate-delay="0.6s">
									<img src="__PUBLIC__img/index/card-bg.png" alt="">
									<div class="card-t">
										<p class="p1">锦江投资</p>
										<p class="p2">
											<span>——</span>
											600650
											<span>——</span>
										</p>
										<p class="p3">900914</p>
										<p class="p4">上海迪斯尼乐园中方股东之一</p>
									</div>
								</div>
								<div class="market-card ani" swiper-animate-effect="bounceIn" swiper-animate-duration="0.3s"  swiper-animate-delay="0.8s">
									<img src="__PUBLIC__img/index/card-bg.png" alt="">
									<div class="card-t">
										<p class="p1">锦江旅游</p>
										<p class="p2">
											<span>——</span>
											900929
											<span>——</span>
										</p>
										<p class="p3"></p>
										<p class="p4">上海高端旅行社代表品牌</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide index-page4">
					<div class="war">
						<div class="war-t">
							<h3 class="ani" swiper-animate-effect="bounceInLeft" swiper-animate-duration="0.5s">战略布局</h3>
							<!-- <p class="p1 ani" swiper-animate-effect="bounceInLeft" swiper-animate-duration="0.5s">Strategic Layout</p> -->
							<p class="p2 ani" swiper-animate-effect="bounceInRight" swiper-animate-duration="0.5s">锦江都城品牌作为锦江卢浮亚洲旗下专注于传播多元文化体验的文化产业型酒店品牌，超过138多家的酒店遍布中国80多个城市。</p>
						</div>
						<div class="war-num">
							<div class="digital-con">
								<div class="digital-item">
									<p class="digital1">
										<span class="var-num1">0</span>
										<span class="ten">
											<span class="ten1"></span>
											<span class="ten2"></span>
										</span>
									</p>
									<p class="digital-t ani" swiper-animate-effect="bounceInDown" swiper-animate-duration="0.5s">hotels</p>
								</div>
								<div class=digital-item>
									<p class="digital1">
										<span class="var-num2">0</span>
										<span class="ten">
											<span class="ten1"></span>
											<span class="ten2"></span>
										</span>
									</p>
									<p class="digital-t ani" swiper-animate-effect="bounceInDown" swiper-animate-duration="0.5s">cities</p>
								</div>
								<span class="line38"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide index-page5">
					<div class="ward-con">
						<div class="ward-t">
							<h3 class="ani" swiper-animate-effect="slideInLeft" swiper-animate-duration="0.5s">荣誉奖项</h3>
							<!-- <p class="p1 ani" swiper-animate-effect="slideInRight" swiper-animate-duration="0.5s">Company Honors</p> -->
						</div>
						<!-- swiper2 -->
						<div class="swiper-container swiper2">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="ward-item ani" swiper-animate-effect="flipInX" swiper-animate-duration="0.5s">
										<p class="p1">2014.6</p>
										<div>
											<span></span>
										</div>
										<img src="__PUBLIC__img/index/award1.png" alt="">
										<p class="p2">最佳连锁饭店品牌</p>
										<!-- <p class="p3">Best Chain Hotel Brand</p> -->
									</div>
									<div class="ward-item ani" swiper-animate-effect="flipInX" swiper-animate-duration="0.5s" swiper-animate-delay="0.1s">
										<p class="p1">2015.4</p>
										<div>
											<span></span>
										</div>
										<img src="__PUBLIC__img/index/award2.png" alt="">
										<p class="p2">最具发展潜力酒店品牌</p>
										<!-- <p class="p3">The Most Potential Hotel Brand</p> -->
									</div>
									<div class="ward-item ani" swiper-animate-effect="flipInX" swiper-animate-duration="0.5s"
										swiper-animate-delay="0.2s">
										<p class="p1">2015.6</p>
										<div>
											<span></span>
										</div>
										<img src="__PUBLIC__img/index/award3.png" alt="">
										<p class="p2"> 十大影响力品牌</p>
										<!-- <p class="p3">Ten Big Influence Brands</p> -->
									</div>
									<div class="ward-item ani" swiper-animate-effect="flipInX" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">
										<p class="p1">2015.12</p>
										<div>
											<span></span>
										</div>
										<img src="__PUBLIC__img/index/award4.png" alt="">
										<p class="p2">最受商务人士欢迎酒店</p>
										<!-- <p class="p3">The Most Popular  Welcome The Hotel</p> -->
									</div>
								</div>
								<div class="swiper-slide">
									<div class="ward-item ani" swiper-animate-effect="flipInX" swiper-animate-duration="0.5s" swiper-animate-delay="0.1s">
										<p class="p1">2016.4</p>
										<div>
											<span></span>
										</div>
										<img src="__PUBLIC__img/index/award1.png" alt="">
										<p class="p2"> 十佳连锁饭店品牌</p>
										<!-- <p class="p3">Best Chain Hotel Brand</p> -->
									</div>
									<div class="ward-item ani" swiper-animate-effect="flipInX" swiper-animate-duration="0.5s" swiper-animate-delay="0.1s">
										<p class="p1">2016.9</p>
										<div>
											<span></span>
										</div>
										<img src="__PUBLIC__img/index/award2.png" alt="">
										<p class="p2">最佳中档酒店品牌</p>
										<!-- <p class="p3">The Most Potential Hotel Brand</p> -->
									</div>
									<div class="ward-item ani" swiper-animate-effect="flipInX" swiper-animate-duration="0.5s" swiper-animate-delay="0.2s">
										<p class="p1">2017.3</p>
										<div>
											<span></span>
										</div>
										<img src="__PUBLIC__img/index/award3.png" alt="">
										<p class="p2">中国最具投资价值酒店</p>
										<!-- <p class="p3">Ten Big Influence Brands</p> -->
									</div>
									<div class="ward-item ani" swiper-animate-effect="flipInX" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">
										<p class="p1">2017.9</p>
										<div>
											<span></span>
										</div>
										<img src="__PUBLIC__img/index/award4.png" alt="">
										<p class="p2">中国最美精品酒店大奖</p>
									</div>
								</div>
							</div>
							<!-- 如果需要分页器 -->
							<div class="swiper-pagination" id="swiper2-pagination"></div>
						</div>
					</div>
				</div>
				<div class="swiper-slide index-page5 index-page6">
					<div class="ward-con">
						<div class="ward-t">
							<h3 class="ani" swiper-animate-effect="slideInLeft" swiper-animate-duration="0.5s">近期筹建店展示</h3>
							<!-- <p class="p1 ani" swiper-animate-effect="slideInRight" swiper-animate-duration="0.5s">Case Study</p> -->
						</div>
						<!-- swiper3 -->
						<div class="swiper-container swiper3">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="case-study">
										<div class="case-left">
											<div class="case-left-up ani" swiper-animate-effect="slideInLeft" swiper-animate-duration="0.5s">
												<img class="case-img" src="__PUBLIC__img/index/page5item1.png" alt="">
												<div class="case-mask">
													<h3>嘉兴市南湖区商务大道酒店</h3>
												</div>
											</div>
											<div class="case-left-down ani" swiper-animate-effect="slideInLeft" swiper-animate-duration="0.5s">
												<img class="case-img" src="__PUBLIC__img/index/page5item2.png" alt="">
												<div class="case-mask">
													<h3>锦江都城阜新迎宾大街酒店</h3>
												</div>
											</div>
										</div>
										<div class="case-right">
											<div class="case-right-only ani" swiper-animate-effect="slideInRight" swiper-animate-duration="0.5s">
												<img class="case-img" src="__PUBLIC__img/index/page5item3.png" alt="">
												<div class="case-mask">
													<h3>锦江都城浙江嵊州店</h3>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="case-study">
										<div class="case-left">
											<div class="case-left-up ani" swiper-animate-effect="slideInLeft" swiper-animate-duration="0.5s">
												<img class="case-img" src="__PUBLIC__img/index/page5item4.png" alt="">
												<div class="case-mask">
													<h3>锦江都城嘉兴高铁南站商务大道酒店</h3>
												</div>
											</div>
											<div class="case-left-down ani" swiper-animate-effect="slideInLeft" swiper-animate-duration="0.5s">
												<img class="case-img" src="__PUBLIC__img/index/page5item5.png" alt="">
												<div class="case-mask">
													<h3>锦江都城上海复旦大学酒店</h3>
												</div>
											</div>
										</div>
										<div class="case-right">
											<div class="case-right-only ani" swiper-animate-effect="slideInRight" swiper-animate-duration="0.5s">
												<img class="case-img" src="__PUBLIC__img/index/page5item6.jpg" alt="">
												<div class="case-mask">
													<h3>锦江都城辽阳市市府酒店</h3>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 如果需要分页器 -->
						<div class="swiper-pagination" id="swiper3-pagination"></div>
					</div>
				</div>
				<div class="swiper-slide index-page5 index-page7" id="contact_us">
					<div class="indexpage7-up">
						<div class="indexpage7-up-left">
							<div class="contact-us">
								<div class="ward-t ani" swiper-animate-effect="slideInLeft" swiper-animate-duration="0.5s">
									<h3>联系我们</h3>
									<!-- <p class="p1">Contact Us</p> -->
									<span class='line-y'></span>
								</div>
								<div class="t-and-e ani" swiper-animate-effect="slideInLeft" swiper-animate-duration="0.5s">
									<p>加盟专线：17717393689</p>
									<p>加盟邮箱：Mdevelop@jjmph.com</p>
								</div>
								<div class="qrcode-con ani" swiper-animate-effect="slideInLeft" swiper-animate-duration="0.5s">
									<div class="qrcode-con-item">
										<p>&nbsp;&nbsp;&nbsp;投资与加盟微信公众号：</p>
										<img class="ani" swiper-animate-effect="tada" swiper-animate-duration="0.3s" swiper-animate-delay="0.5s" src="__PUBLIC__img/index/qrcode1.png" alt="">
									</div>
									<div class="qrcode-con-item">
										<p>&nbsp;&nbsp;&nbsp;"锦江旅行"APP下载：</p>
										<img class="ani" swiper-animate-effect="tada" swiper-animate-duration="0.3s" swiper-animate-delay="0.5s" src="__PUBLIC__img/index/qrcode2.png" alt="">
									</div>
								</div>
							</div>
						</div>
						<div class="indexpage7-up-right center">
							<form action="" class="get_form ani" method="post" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
								<div class="line">
									<label for="name">姓名</label>
									<input class="f-text" type="text" name="name" id="name">
								</div>
								<div class="line">
									<label for="phone">电话</label>
									<input class="f-text" type="text" name="tel" id="phone">
								</div>
								<div class="line">
									<label for="email">邮箱</label>
									<input class="f-text" type="text" name="email" id="email">
								</div>
								<div class="line are-line">
									<label for="request">您的需求</label>
									<textarea class="f-text"  name="content" id="request"></textarea>
								</div>
								<div class="submit-line">
									<input class="submit" type="submit" value="提交">
								</div>
							</form>
						</div>
						<div class="footer">
							<div class="footer-up">
								<img src="__PUBLIC__img/index/footlogo.png" alt="">
								<div class="footer-line">
									<a href="/index/index/index">
										品牌介绍
									</a>
									<a href="/index/join/index">
										加盟合作
									</a>
									<a href="/index/news/index">
										品牌活动
									</a>
									<a href="/index/reserve/index">
										酒店预定
									</a>
								</div>
							</div>
							<div class="footer-down">
								<p>Copyright © 2010-2017 VANGO DESIGN. All Right Reserved.</p>
								<p>
									<a href="http://www.miitbeian.gov.cn">沪ICP备18007196号-1</a>
								</p>
								<p class="qiniuniu">技术支持 
									<a href="http://www.qiniuniu.com" target="_blank">
										<img src="__PUBLIC__img/index/qiniuniu.png" width="2%">
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 如果需要分页器 -->
			<div class="swiper-pagination all_swiper-pagination" style="width: 8px;"></div>
		</div>
		<script src="__PUBLIC__js/index/index.js"></script>
	</body>
</html>