html,body {
	height: 100%;
}
input{outline:none;}
.swiper-container-vertical>.swiper-pagination-bullets {
	right: 6px;
}
/***************************************************/
.ce-btn{
	position: fixed;
	right: 10%;
	width: 160px;
	height: 170px;
	top: 0;
}

.ce-btn .ce-btns{
	width:50px;height:52px;
	/*background:#e2ad46;*/
	margin-bottom:2px;
	border-radius:50%;
	cursor: pointer;
	position: relative;
	float: left;
	margin-left:10%;
}
.ce-btn .ce-btns i{
	display: inline-block;
	width:inherit;
	height: inherit;
	text-align:center;

}
.ce-btn-m {
	position: fixed;
	top: 70%;
	right: 1px;
	width: 36px;
	height: 74px;
	z-index: 1100;
	/*888*/
}
.ce-btns-m1>a {
	display: inline-block;
	width: 100%;
	height: 100%;
}
.ce-btn-m2 {
	position: relative;
}
.ce-btn-m3>img {
	width: 100%;
}
.ce-btn-m2-code {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1300;
}
.ce-btn-m2-code>img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -70px;
	margin-left: -70px;
	width: 140px;
}
.menu-m {
	position: fixed;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ffffff;
}
.menu-m-close {
	display: none;
}
.menu-line1 {
	width: 82%;
	margin-left: 9%;
	height: 16%;
	background-color: #ffffff;
	border-top: 1px solid #777777;
}
.menu-line1>img {
	height: 100%;
}
.menu-line2 {
	height: 84%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("../../img/index/menu-bg.png");
	overflow: hidden;
}
.menu-nav {
	margin-top: 7%;
}
.menu-nav-item {
	width: 40%;
	margin: 2% 0 0 2%;
	float: left;
	height: 136px;
	background-color: #ffffff;
	border-radius: 10px;
	text-align: center;
}
.menu-nav-item:nth-child(odd) {
	margin-left: 9%;
}
.menu-nav-item>img{
	width: 38px;
	margin-top: 34px;
}
.menu-nav-item>p {
	font-size: 18px;
	margin-top:12px;
}
.menu-join {
	float: left;
	width: 82%;
	height: 56px;
	line-height: 56px;
	margin-left: 9%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("../../img/index/menu-btn.png");
	text-align: center;
	margin-top: 22%;
}
.menu-join>img {
	width: 26px;
	vertical-align: middle;
}
.menu-join>span {
	color: #ffffff;
	font-size: 18px;
}
.menu-join>a>img {
	width: 27px;
	vertical-align: middle;
}
.menu-join>a>span {
	color: #ffffff;
	font-size: 18px;
}
.d_n {
	display: none!important;
}


.Alert{
	width:200px;height: 100px;
	position:absolute;
	top:125%;
	right:0;
	display: none;
	border-radius:10px;
}
.Alert:after{
	content: "";
	display: inline-block;
	position:absolute;
}
.Alert:before{
	content: "";
	display: inline-block;
	position:absolute;
	right:-10px;
	top:10px;
	border-radius:10px;
}
/**************    导航    ***************************/
*{padding:0;margin:0;}
/*header*/
.header {
	width: 100%;
	height: 58px;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background: white;
	/*border: none!important;*/
}
.header>img {
	height: 58px;
	/*margin-top:-8px;*/
}
.nav {
	position: absolute;
	left: 34px;
	width: 202px;
	height: 105px;
}
.nav-m{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 78px;
	z-index: 1001;
}
.nav_btn,.nav_btn1,.nav_btn_m {
	position: relative;
	border: 1px solid transparent;
	padding:22px 0 33px 10px;
	width:  27px;
	height:19px;
	cursor: pointer;
}
.nav_btn {
	padding-top: 12px;
}
.nav_btn>span{
	 display: block;
	 width: 27px;
	 height: 4px;
	 margin-bottom: 5px;
	 border-radius: 2px;
	 background-color: #c88800;
	 transition: 0.2s all linear;
 }
.nav_btn>span:first-child {
	margin-top: 5px;
}
.nav_btn1>span{
	display: block;
	width: 27px;
	height: 4px;
	margin-bottom: 5px;
	border-radius: 2px;
	background-color: #c88800;
	transition: 0.2s all linear;
}
.nav_btn1>span:first-child {
	margin-top: 5px;
}
.nav_btn_m>span{
	display: block;
	width: 27px;
	height: 4px;
	margin-bottom: 5px;
	border-radius: 2px;
	background-color: #c88800;
	transition: 0.2s all linear;
}
.nav_btn_m>span:first-child {
	margin-top: 5px;
}
.nav_ul {
	margin-top: -6px;
	width: 100%; 
	height: 0px;
	overflow: hidden;
}
.nav_ul>li {
	height: 35px;
	padding: 4px 0;
}
.nav_ul>li:hover {
	background-color: #ffffff;
	/*border:1px solid #e1e1e1;*/
}
.nav_ul>li>a>img {
	vertical-align: bottom;
}
.nav_ul>li>a>span {
	display: inline-block;
	width: 150px;
	text-align: left;
	height: 35px;
	line-height: 35px;
	font-size: 18px;
}
/*nav_open*/
.nav_btn_open>span:nth-child(1) {
	transform-origin: 0 0;
	transform: translate(2px,-4px) rotate(45deg) scale(1.35,1);
}
.nav_btn_open>span:nth-child(2) {
	opacity: 0;
}
.nav_btn_open>span:nth-child(3) {
	transform-origin: 0 0;
	transform: translate(-2px,4px) rotate(-45deg) scale(1.4,1);
}
.nav_ul_open {
	height: 172px;background:rgba(252,252,252,0.8);
}
/*all swiper*/
.all_swiper{
	height: 100%;
}
.all_swiper-pagination {
	width: 8px;
}
.all_my-bullet,.all_my-bullet-active {
	margin: 6px 0;
    display: block;
	width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    opacity: .2;
	background-color: #e8d5b0;
	opacity: 1
}
.all_my-bullet-active {
	background-color: #d1a145;
}
/*index slide1*/
.index-slide1{
	background-color: #f7f7f7;
}
.index1-h{
	margin-top:80px;
	font-size: 26px;
	text-align: center;
	letter-spacing: 8px;
	text-indent: 0.3em;
	color: #d0982a;
	height: 70px;
	line-height: 70px;
}
/*swiper1*/
/*#certify {*/
	/*position: relative;*/
	/*width: 1200px;*/
	/*margin: 0 auto;*/
	/*transform: scale(0.5, 0.5);*/
/*}*/

/*#certify .swiper-container {*/
	/*padding-bottom: 60px;*/
/*}*/

/*#certify  .swiper-slide {*/
	/*!*width: 520px;*!*/
	/*width: 520px;*/
	/*height: 408px;*/
	/*background: #fff;*/
	/*box-shadow: 0 8px 30px #ddd;*/
/*}*/
#certify {
	position: relative;
	margin: 0 auto;
}

#certify .swiper-container {
	width: 90%;
	padding-bottom: 25px;
}

#certify .swiper-slide {
	width:49%;
	height:0;
	padding-bottom:26%;
	overflow:hidden;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	/*background: #fff;*/
	box-shadow: 0 8px 30px #ddd;
}

#certify .swiper-pagination {
	width: 100%;
	margin:1%;
}

#certify .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 5px;
	border: 2px solid #e8d5b0;
	background-color: transparent;
	width: 6px;
	height: 6px;
	opacity: 1;
}

#certify .swiper-pagination-bullets .swiper-pagination-bullet-active {
	border: 2px solid #d1a145;
	background-color: transparent;
}
.index1-p {
	width: 60%;
	margin: 3% auto 0 auto;
	text-indent: 2em;
	font-size: 16px;
	font-weight: 100;
	line-height: 28px;
}
/*index page2*/
.index-page2 {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("../../img/index/indexpage2.png");
}
.index-page2-con{
	position: relative;
	width: 84%;
	height: 100%;
	margin: 0 auto;
}
.index-page2-img {
	position: absolute;
	top:22%;
	left:12%;
	height:62%;
	width:26%;
	background-color: #cc924a;
}
.index-page2-img>img {
	height: 100%;
	position: relative;
	top:4%;
	left: 6%;
	width:100%;
}
.index-page2-article{
	position: absolute;
	top:45%;
	right: 0;
	width: 44%;
	color: #ffffff;
	font-size: 16px;
}
.index-page2-article>h3 {
	font-size: 26px;
	margin-bottom: 4px;
	margin-bottom: 18px;
}
.index-page2-article>.p1 {
	margin-bottom: 18px;
	font-weight: 300;
	font-family: "arial";
}
.index-page2-article>.p2 {
	font-size:18px;
	line-height:2rem;
	margin-bottom: 10px;
	font-family: "宋体";
	font-weight: 100;
}
/*indexpage3*/
.index-page3 {
}
.index-page3-left {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("../../img/index/indexpage3-left.jpg");
}
.index-page3-right {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("../../img/index/indexpage3-right.png");
}
.index-page3-left>.company-bg {
	width: 88%;
	position: absolute;
	top:28%;
	z-index: 10;
	background-color: #d0982a;
	color: #ffffff;
	padding:4% 10%;
	font-size: 16px;
}
.company-bg>p {
	margin-bottom: 18px;
	font-weight: 100;
	line-height: 20px;
	text-indent: 2em;
}
.company-bg>h3 {
	font-size: 28px;
	margin-bottom:48px;
}
.company-bg>.p1 {
	font-family: "arial";
	text-indent: 0;
}
.company-bg>.p2,.company-bg>.p3  {
	font-family: "宋体";
	line-height:1.7rem;
	font-size:18px;
}

.index-page3-right>.market-bg {
	padding: 14% 6% 30% 18%;
}
.market-t {
	padding-left: 5%;
	color: #d0982a;
	margin-bottom:6%;
}
.market-t>h3 {
	font-size:26px;
}
.market-t>p {
	font-family: "arial";
}
.market-crad-con {
	width: 100%;
	overflow: hidden;
}
.market-card {
	float: left;
	position: relative;
	width:44%;
	margin-bottom:2%;
}
.market-card>img {
	position: absolute;
	top: 0;
	left: 0;
	width:78%;
	height: 100%;
}
.market-card>.card-t {
	text-align: center;
}
.card-t {
	position: relative;
	z-index: 5;
	margin: 14% 27% 15% 6%;
	padding: 0 6%;
}
.card-t>p {
	font-size: 16px;
	line-height: 22px;
}
.card-t>.p1 {
	font-size: 24px;
	margin-bottom: 10px;
}
.card-t>.p2 {
	overflow: hidden;
	height: 1.4em;
}
.card-t>.p3 {
	height: 1.4em;
}
.card-t>.p4 {
	min-height: 4.2em;
	margin-bottom: 10px;
}
.card-t>.p2>span {
	display: inline-block;
	overflow: hidden;
	width: 1em;
}
.card-t>.p2>span:first-child {
	float: left;
}
.card-t>.p2>span:last-child {
	float: right;
}
/*index page4*/
.index-page4 {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("../../img/index/indexpage4.png");
}
.war {
	position: absolute;
	top: 25%;
	left: 0;
	right: 0;
	bottom: 14%;
}
.war {
	color: #ffffff;
	text-align: center;
	font-size: 16px;
}
.war-t>h3 {
	font-size: 26px;
	margin-bottom: 30px;
}
.war-t>.p1{
	font-family: "arial";
	margin-bottom: 20px;
}
.war-t>.p2 {
	width: 50%;
	margin-left: 25%;
	font-weight: 100;
	font-family: "宋体";
	font-size: 18px;
	line-height: 1.7rem;
}
.war-num{
	position: absolute;
	left: 0;
	bottom: 10%;
	width: 100%;
}
.digital-con{
	margin: 0 auto;
}
.digital-item {
	display: inline-block;
	width: 230px;
	font-size: 78px;
	position: relative;
}
.digital-item:first-child {
	margin-right: 1%;
}
.digital-item>.digital-t {
	font-size: 24px;
	font-family: "arial";
	margin-top: 54px;
}
.line38 {
	width: 2px;
	height: 50%;
	position: absolute;
	top: 25%;
	left: 50%;
	margin-left: -1px;
	background-color: #ffffff;
}
.ten {
	position: relative;
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: top;
	margin-left: -15px;
}
.ten1 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	margin-top: -1px;
	background-color: #ffffff;
}
.ten2 {
	position: absolute;
	top: 0;
	left: 50%;
	width: 2px;
	height: 100%;
	margin-left: -1px;
	background-color: #ffffff;
}
/*index page5*/
.index-page5 {
	background-color: #f0f0f0;
}

.ward-con {
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
	bottom: 10%;
}
.ward-t {
	color: #d0982a;
	text-align: center;
}
.ward-t>h3 {
	font-size:26px;
	margin-bottom: 8px;
}
.ward-t>.p1 {
	font-family: "arial";
	margin-bottom: 20px;
}
.swiper2 {
	margin-top:6%;
	text-align: center;
	height: 68%;
	overflow: visible;
}
.ward-item {
	display: inline-block;
	width:13%;
	background-color: #ffffff;
	border: 1px solid #d0982a;
	padding: 10px 0;
	text-align: center;
	margin-right:4%;
}
.ward-item:last-child {
	margin-right: 0;
}
.ward-item>.p1 {
	color: #d0982a;
	font-size: 26px;
	margin: 20px 0 0 0;
}
.ward-item>div>span {
	display: inline-block;
	width: 40px;
	height: 2px;
	background-color: #d0982a;
}
.ward-item>img {
	width: 80px;
	margin:34px 0 24px 0;
}
.ward-item>.p2 {
	font-size:16px;
	margin-bottom: 2px;
}
.ward-item>.p3 {
	font-size: 12px;
	font-family: "arial";
}
#swiper2-pagination {
	width: 100%;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: -16%;
}
#swiper2-pagination .swiper-pagination-bullet {
	display: inline-block;
	margin: 0 5px;
	background-color: #717070;
	width: 26px;
	height: 6px;
	border-radius: 0;
	opacity: 1;
}

#swiper2-pagination .swiper-pagination-bullet-active {
	background-color: #e2ad46;
}
/*index page6*/
/*.swiper3*/
.swiper3 {
	position: absolute;
	top: 66px;
	left: 0;
	right: 0;
	bottom: 0;
}
.case-study {
	width: 60%;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.case-left {
	display: inline-block;
	width: 60%;
	height: 100%;
	margin-right: 2%;
	float: left;
}
.case-right {
	display: inline-block;
	width: 38%;
	height: 100%;
	float: right;
}
.case-left-up {
	position: relative;
	width: 100%;
	height: 50%;
	overflow:hidden;
	margin-bottom: 2%;
	/*background-color: green;*/
}
.case-left-down {
	position: relative;
	width: 100%;
	height: 50%;
	overflow:hidden;
	/*background-color: blue;*/
}
.case-right-only {
	position: relative;
	width: 100%;
	height: 100%;
}
.case-img {
	width: 100%;
	height: 100%;
}
.case-mask {
	width: 100%;
	position: absolute;
	left: 0;
	bottom:0;
	background-color: rgba(0,0,0,0.6);
	color: white;
	letter-spacing: 0.2em;
}
.case-mask>h3 {
	font-size:18px;
	padding: 10px;
	letter-spacing: 0.25em;
}
.case-mask>p {
	font-size: 14px;
	line-height: 16px;
	padding: 0 10px 10px 10px;
}
#swiper3-pagination {
	width: 100%;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: -7%;
}
#swiper3-pagination .swiper-pagination-bullet {
	display: inline-block;
	margin: 0 5px;
	background-color: #717070;
	width: 26px;
	height: 6px;
	border-radius: 0;
	opacity: 1;
}
#swiper3-pagination .swiper-pagination-bullet-active {
	background-color: #e2ad46;
}
/*index page7*/
.indexpage7-up {
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ffffff;
}
.indexpage7-up-left {
	position: absolute;
	top: 15%;
	left: 170px;
	width: 50%;
	height:70%;
	background-color: #ffffff;
}
.indexpage7-up-right {
	position: absolute;
	top: 50px;
	right: 0;
	width: 50%;
	height:71%;
}
.indexpage7-up-right {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("../../img/index/indexpage62.png");
}
.contact-us {
	width: 80%;
	height:80%;
	margin:14% 0 0 26%;
}
.contact-us>.ward-t {
	text-align: left;
	color: #dbb977;
	margin-bottom: 5%;
}
.contact-us>.ward-t>.p1 {
	letter-spacing: 0.2em;
	margin-bottom: 6px
}
.line-y {
	display: inline-block;
	width: 55px;
	height: 6px;
	background-color: #dbb977;
}
.t-and-e {
	color: #dbb977;
	font-size:16px;
	line-height:34px;
	margin-bottom: 5%;
}
.qrcode-con-item {
	display: inline-block;
	color: #dbb977;
	margin-right: 20px;
	margin-bottom: 20px;
}
.qrcode-con-item>img {
	width:200px;
}

/*form*/
.center{
    justify-content: center;
    display: flex;
    align-items: center;
}
.get_form{
    width: 60%;
}
.line{
    height: 56px;
    font-size: 16px;
    border-bottom: 1px solid #ecca82;
    padding-right: 15px;
    margin-bottom: 10px;
    position: relative;
}
.are-line{
    height: 100px;
    border-bottom: none;
}
.line label{
    color: #ecca82;
    padding-right: 15px;
    position: absolute;
    top: 10px;
}
.are-line label{
    top: 0;
}
.line input ,.line textarea{
    background: transparent;
    font-size: 16px;
    /*color: #ffffff;*/
    border: none;
    outline: none;
    width: 98%;
    height: 40px;
    color: #ecca82;
    position: absolute;
    left: 0;
}
.line textarea{
    overflow: hidden;
    height: auto;
    /*resize: none;*/
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid #ecca82;

}
.submit{
    width: 140px;
    height: 44px;
    background: transparent;
    border:2px solid #ecca82;
    color: #ecca82;
    font-size: 18px;
    cursor: pointer;
    float: right;
}
.mob_need_box{
    display: none;
}
.mobile_need{
    width: 140px;
    height: 44px;
    background: transparent;
    border: 1px solid #ecca82;
    color: #ecca82;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: calc(46% - 70px);
}
/*footer*/
.footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #282828;
}
.footer-up {
	text-align: center;
}
.footer-up>img {
	width: 58px;
	margin:1% auto 1%;
}
.footer-line {
	width: 80%;
	margin: 0 auto;
	border-top: 1px solid #ecca82;
	padding-top: 25px;
}
.footer-line>a {
	margin-right: 5%;
	color: #ecca82;
	line-height: 18px;
}
.footer-line>a:last-child {
	margin: 0;
}
.footer-down {
	font-size: 12px;
	line-height: 18px;
	margin-top: 20px;
	text-align: center;
	color: #5c5c5c;
}
.footer-down>p>a {
	color: #5c5c5c;
}
.qiniuniu {
	margin-top: 10px;
	font-size: 12px;
}
.qiniuniu>a>img {
	vertical-align: middle;
}
.qiniuniu-news>a>img {
	height: 19px;
}

/*news page*/
/*news page1*/
.news-slide1 {
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
	background-image: url("../../img/news/news-bg.png");
}
.news-slide-btn {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 10%;
	text-align: center;
}
.news-slide-btn1 {
	position: relative;
	display: inline-block;
	margin-right: 6%;
}
.news-slide-btn2 {
	position: relative;
	display: inline-block;
}
.news-btn-con {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 28% 0; 
	font-size: 20px;
	cursor: pointer;
}
.news-slide-btn1>.news-btn-con {
	color: #ffffff;
}
.news-slide-btn2>.news-btn-con {
	color: #c88800;
}
.news-slide-btn2>.news-btn-con>.ten>span {
	background-color: #c88800;
}
.news-ten {
	width: 26px;
	height: 26px;
	margin-left: 0;
	margin-bottom: 4%;
}
/*news page2*/
.news-slide2-left {
	position: absolute;
	top: 0;
	left: 0;
	right: 50%;
	bottom: 0;
}
.news-slide2-right {
	position: absolute;
	top: 0;
	left: 50%;
	right: 0;
	bottom: 0;
}
.news-slide2-left-con {
	width: 50%;
	margin:37% auto;
}
.news-slide2-left-con>h3 {
	font-size: 56px;
	margin-bottom:23%;
}
.news-slide2-left-con>p {
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 25%;
}
.news-slide2-left-con>span {
	font-size: 16px;
	color: #ffffff;
	display: inline-block;
	padding: 15px 26px;
	background-color: #c88800;
}
.newspage-siwper2,.newspage-siwper3 {
	/*height: 80%;
	margin-top: 105px;*/
	position: absolute;
	top: 58px;
	left: 0;
	right: 0;
	bottom: 0;
}
.newspage-siwper2 .swiper-slide {
	border-left: 1px solid #cccccc;
}
.newspage-siwper3 .swiper-slide {
	border-left: 1px solid #cccccc;
}
.news-preview {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
}
.newspre-day {
	font-size: 76px;
	color: #c88800;
	margin-top: 10%;
	margin-bottom: 26%;
}
.newspre-status {
	font-size: 22px;
	color: #666666;
	margin-bottom: 26%;
}
.newspre-date {
	font-size: 18px;
	margin-bottom: 4%;
}
.newspre-title {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 10%;
	height: 2em;
}
.newspre-addr {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	height: 32px;
	font-size: 16px;
	line-height: 16px;
	color: #666666;
	margin-bottom: 4%;
}
.newspre-img {
	width: 100%;
	margin-bottom: 10%;
}
.newspre-intro {
	font-size: 14px;
	line-height: 17px;
	color: #333333;
	margin-bottom: 30%;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.newspre-detail {
	width: 90px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	padding-right: 26px;
	border-radius: 13px;
	background-color: #e4e4e4;
	position: absolute;
	bottom:14%;
	cursor: pointer;
}
.add-png {
	position: absolute;
	top: 0;
	right: 0;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background-color: #c88800;
}
.add-png>img {
	width: 100%;
}
.newspage-siwper2-button-con {
	width: 130px;
	height: 44px;
	position: absolute;
	right: 7%;
	bottom: 6%;
}
.newspage-siwper2-button-top,.newspage-siwper3-button-top {
	width: 44px;
	height: 44px;
	background-color: #c88800;
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("../../img/news/turn-top.png");
	cursor: pointer;
	z-index: 100;
}
.newspage-siwper2-button-prev,.newspage-siwper3-button-prev {
	width: 44px;
	height: 44px;
	background-color: #c88800;
	position: absolute;
	top: 0;
	left: 45px;
	margin: 0;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("../../img/news/turn-left.png");

}
.newspage-siwper2-button-next,.newspage-siwper3-button-next {
	width: 44px;
	height: 44px;
	background-color: #c88800;
	position: absolute;
	top: 0;
	left: 90px;
	margin: 0;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("../../img/news/turn-right.png");
}
.news-footer {
	position: relative;
	padding-bottom: 10px;
}
.news-slide4 {
	height:auto!important;
}
/*detail page*/
.detail-footer {
	position: absolute;
	top: auto;
	left: 0;
	bottom: 0;
}
.detail-footer>.footer-up>img {
	/*margin-top: */
}
.detailcon {
	position: absolute;
	top: 59px;
	left: 0;
	right: 0;
	bottom: 38px;
	background-color: #efefef;
}
.detailcon-all {
	position: absolute;
	top: 0;
	left: 0;
}
.detailcon-main {
	width: 43%;
	height: 97%;
	left: 25%;
	position: relative;
	background-color: #ffffff;
	overflow: hidden;
}
.detailcon-tab {
	width: 318px;
	height: 100%;
	left: 69%;
}
.detailcon-article {
	/*position: absolute;
	top: 40px;
	left: 20px;
	right: 50px;
	bottom: 0px;*/
	margin: 40px 50px 40px 20px;
}
.detailcon-article>h3 {
	font-size: 40px;
	margin-bottom: 20px;
}
.detailcon-icon>div {
	display: inline-block;
	border: 1px solid #c5c5c5;
	border-radius: 5px;
	padding: 0 10px 0 10px;
	line-height: 20px;
	margin-right: 10px;
	margin-bottom: 20px;
}
.detailcon-icon>div>img {
	width:16px;
	margin: 2px 6px;
	vertical-align: top;
}
.detailcon-icon>div>img>span{
}
.detailcon-short {
	margin-bottom: 3px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}
.detailcon-article>img {
	width: 100%;
	margin-bottom: 20px;
}
.detailcon-article>p {
	margin-bottom: 20px;
}
.detailcon-tab>h3 {
	font-size: 22px;
	margin-top: 17px ;
}
.detailcon-tab>span {
	display: inline-block;
	width: 60%;
	height: 1px;
	background-color: #000000;
}
.detailcon-card {
	width: 78%;
	border-radius: 5px;
	box-shadow: 0px 1px 1px #d2cecf;
	overflow: hidden;
	margin: 10px 0;
	background-color: #ffffff;
}
.detailcon-card-left {
	width: 38%;
	float: left;
}
.detailcon-card-right {
	padding-bottom: 10px;
}
.detailcon-card-right img{
	padding-left: 1rem;
	padding-bottom: 10px;
	display: block;
	width: 60%;
}
.detailcon-card-left>img {
	width: 100%;
	margin: 6px;
}
.detailcon-card-right>h4 {
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	margin-top: 6px;
	margin-left: 5%;
	margin-bottom: 15px;
	overflow : hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.detailcon-card-right>p {
	line-height: 15px;
	color: #7a7a7a;
	font-size: 14px;
	margin: 0 40px 14px 5%;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient: vertical;
}
.detailcon-card-right>span {
	color: #7a7a7a;
	margin-left: 5%;
	font-size: 14px;
}
.detailcon-article img{
	width: 100%;
}
.submit-need {
	display: none;
	padding: 10px;
	border-radius: 6px;
	font-size: 16px;
	color: #dbb977;
	border: 1px solid #dbb977;
	margin-left: 11px;
}
.submit_close {
	display: none;
}
.submit-line {
	width: 100%;
	text-align: center;
}
.ce-btn-m {
	display: none;
}
#logo-p {
	display: block;
	margin: 0 auto;
}
#logo-m {
	display: none;
	height: 40px;
	margin: 5px auto;
}
.half_m {
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("../../img/index/indexpage3-right.png");
}

#certify .swiper-slide-active{transform: translateX(0px) scale(1.3)!important;transition:all 0s!important;}

@media only screen and (max-width: 768px) {
	.index1-h{font-size:26px;margin-top: 80px;}
	#certify .swiper-slide{width:54%;}
	.index1-p{width:75%;}
}
/********************************************************************************************/
@media screen and (min-width:1750px){
	.index1-h {margin-top: 100px;height: 80px;line-height: 80px;font-size: 36px;}
	.market-t>h3,.market-t>h3,.ward-t>h3{font-size:36px;}
	#certify .swiper-container {padding-bottom:0;margin-top:2%;}
	.index1-p {margin:5% auto 0 auto;text-indent: 2em;font-size: 18px;}
	/*#certify .swiper-slide,.index-page2-article>h3{padding-bottom:31%;}*/
	.index-page3-left>.company-bg{top:34%;padding:8% 10%;}
	.index-page3-right>.market-bg {padding: 18% 6% 30% 18%;}
	.index-page2-article>.p2{font-size:20px;}
	.card-t>.p1 {font-size: 28px;margin-bottom: 30px;}
	.card-t {margin:20% 27% 20% 0; padding:0 10%}
	.market-t{margin-bottom:12%;}
	.swiper2{margin-top:8%;}
	.ward-item {width:12%;}
	.case-mask>h3,.company-bg>.p2, .company-bg>.p3{font-size:20px;}
	.ward-item>.p2{font-size:18px;}
	.ward-item>img {margin:60px 0 24px 0;}
	.indexpage7-up-left,.indexpage7-up-right{top:7%;}
	.t-and-e{font-size:20px;}
	.contact-us{margin:12% 0 0 26%;}
}
@media screen and (min-width:768px) and (max-width:1750px) {
	/*slide1*/
	.index-slide1-con {
		position: absolute;
		top: 80px;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.index1-h {
		height: 13.5%;
		position: relative;
		margin-top: 0;
	}
	.index1-h>span {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -35px;
		margin-left: -106px;
	}
	#certify {
		height: 86.5%;
		padding-bottom: 0;
	}
	#certify .swiper-container {
		height: 73%;
		padding-bottom: 0;
	}
	#certify .swiper-slide {
		height: 100%;
		padding-bottom: 0;
	}
	.pagination1 {
		position: relative;
		height:10%;
	}
	#certify .swiper-pagination {
		margin: -8px 0 0 0;
	}
	.pagination1>.swiper1-swiper-pagination {
		position: absolute;
		top: 50%;
	}
	.index1-p {
		margin-top: 0;
	}
	/*slide3*/
	.index-page3>.index-page3-con {
		position: absolute;
		top: 78px;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.index-page3-left>.company-bg {
		padding: 8% 10%;
	}
	.index-page3-right>.market-bg {
		height: 78%;
		padding: 10% 6% 12% 18%;
	}
	.market-t {
		height: 11%;
		margin: 0;
	}
	.market-crad-con {
		height: 89%;
	}
	.market-card {
		/*height: 48%;*/
	}
	.card-t {
		height: 79%;
		/*margin: 20% 27% 15% 0;*/
	}
	.card-t>.p2 {
		padding-top: 10%;
		padding-bottom: 12%;
		height: 26%;
	}
	.card-t>.p3 {
		height: 0;
	}
	/*slide5*/
	.ward-item {
		width: 14%;
		padding: 22px 0;
	}
	.ward-item>.p1 {
		margin-top: 17%;
	}
	.ward-item>img {
		margin: 26% 0 19% 0;
	}
	.swiper2 {
		margin-top: 9%;
		height: 62%;
	}
	/*last slide*/
	.indexpage7-up-left {
		/*justify-content: center;*/
		/*display: flex;*/
		/*align-items: center;*/
	}
	.contact-us {
		width: 70%;
		height: auto;
		margin: 0;
	}
	.qrcode-con-item {
		width: 48%;
		margin-right: 1%;
	}
	.qrcode-con-item>img {
		width: 80%;
		max-width: 158px;
	}
	/*nav*/
	.nav {
		width: 120px;
	}
	.nav_ul>li>a>span {
		width: 80px;
	}
	.nav_ul>li {
		padding: 2px 0;
	}
	.nav_ul_open {
		height: 156px;
	}
}
/*****************************************************************************************/
@media screen and (max-width: 1320px) {
	.qrcode-con-item>p {
		font-size: 14px;
	}
	.market-card>img {
		width: 93%;
	}
	.card-t {
		height: 79%;
		margin: 20% 14% 15% 7%;
	}
	.index-page3-right>.market-bg {
		height: 84%;
		padding: 18% 6% 9% 18%;
	}
}
@media screen and (min-width: 768px) and (max-width: 1150px) {
	.qrcode-con-item>img {
		margin-left: 0.5em;
	}
	.ward-item {
		width: 16%;
	}
	.ward-item>.p2 {
		font-size: 14px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
	.contact-us {
		width: 90%;
	}
	.ward-item {
		width: 19%;
	}
}
@media screen and (min-width: 768px) and (max-width: 772px) {
	.qrcode-con-item>p {
		font-size: 12px;
	}
}
/******************************************************************************/
/*index*/
@media screen and (max-width:768px) {
	/*hide*/
	.nav {
		display: none;
	}
	.ce-btn-m {
		display: block;
	}
	.nav-m {
		display: block;
	}
	#logo-p {
		display: none;
	}
	#logo-m {
		display: block;
	}
	.half_m {
		display: block;
	}
	/*header*/
	.header {
		height: 50px;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	}
	.nav_btn_m {
		padding-top: 8px;
	}
	/*slide1*/
	#certify .swiper-slide {
		box-shadow: none;
	}
	.index-slide1-con {
		position: absolute;
		top: 48px;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.index1-h {
		height: 26.5%;
		position: relative;
		margin-top: 0;
	}
	.index1-h>span {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -35px;
		margin-left: -106px;
	}
	#certify {
		height: 86.5%;
		padding-bottom: 0;
	}
	#certify .swiper-container {
		height: 30%;
		padding-bottom: 0;
	}
	#certify .swiper-slide {
		height: 100%;
		padding-bottom: 0;
	}
	.pagination1 {
		position: relative;
		height: 12%;
	}
	#certify .swiper-pagination {
		margin: -8px 0 0 0;
	}
	.pagination1>.swiper1-swiper-pagination {
		position: absolute;
		top: 50%;
	}
	.index1-p {
		margin-top: 0;
		font-size: 14px;
		line-height: 18px;
		text-indent: 0;
	}
	/*slide2*/
	.index-page2 {
		background-image: url("../../img/index/indexpage2-m.png");
	}
	.index-page2-img {
		top: 15%;
		left: 21%;
		height: 38%;
		width: 57%;
	}
	.index-page2-article {
		top: 62%;
		width: 88%;
		right: 6%;
	}
	.index-page2-article>h3 {
		font-size: 20px;
		margin-bottom: 16px;
	}
	.index-page2-article>.p2 {
		font-size: 14px;
		line-height: 16px;
	}
	.index-page3-left>.company-bg {
		width: 180%;
	}
	/*slide3*/
	.company-bg>h3 {
		font-size: 24px;
		margin-bottom: 14px;
	}
	.company-bg>.p2, .company-bg>.p3 {
		line-height: 16px;
		font-size: 14px;
		color: #ffffff;
		background-color: rgb(208,152,42);
		padding: 6px;
	}
	.company-bg>.p3 {
		display: none;
	}
	.index-page3>.index-page3-con {
		position: absolute;
		top: 48px;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.index-page3-left{
		background-image: none;
	}
	.index-page3-right{
		left: 0;
		width: 100%;
	}
	.index-page3-left>.company-bg {
		padding: 11% 10% 4% 10%;
		top: 2px;
		background-color: transparent;
		color: #d0982a;
	}
	.company-bg>p {
		margin-bottom: 12px;
	}
	.index-page3-right>.market-bg {
		width: 100%;
		height: 70%;
		padding: 0;
		margin-top: 160px;
	}
	.market-t {
		height: 9%;
		margin: 0;
	}
	.market-t>h3 {
		font-size: 24px;
	}
	.market-crad-con {
		/*height: 90%;*/
        padding: 0 9%;
        width: 82%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
	}
	.market-card {
		margin-left: 2.5%;
        margin-bottom: 3%;
		/*width: 42%;*/
	}
	.market-card:nth-child(odd) {
		margin-left: 5%;
	}
	.card-t {
		/*height: 79%;*/
		/*margin: 14% 9% 15% 0;*/
	}
	.card-t>p {
		font-size: 12px;
		line-height: 16px;
	}
	.card-t>.p1 {
		font-size: 18px;
	}
	.card-t>.p2 {
		padding-top: 6%;
		height: 22%;
	}
	.card-t>.p3 {
		height: 0;
	}
	.market-card>img {
		height: auto;
	}
	/*slide4*/
	#swiper2-pagination {
		bottom: -8%;
	}
	.index-page4 {
		background-image: url(../../img/index/indexpage4-mm.png);
	}
	.digital-item {
		width: 32%;
		font-size: 36px;
	}
	.ten {
		position: absolute;
		width: 16px;
		height: 16px;
		margin-left: 4px;
	}
	.war {
		top: 17%;
	}
	.war-t>.p2 {
        width: 90%;
        margin-left: 5%;
		font-size: 14px;
		line-height: 16px;
	}
	.war-num {
		bottom: 32%;
	}
	.digital-item>.digital-t {
		margin-top: 35px;
	}
	/*slide5*/
	.ward-t>h3 {
		margin-top: 40px;
	}
	.swiper3 {
		top: 124px;
	}
	#swiper3-pagination {
		bottom: 8%;
	}
	.ward-con {
		top: 12%;
		bottom: 20%;
	}
	.ward-item {
		width: 36%;
		height: auto;
		padding: 0;
		margin: 0 0 4% 6%;
		float: left;
	}
	.ward-item:nth-child(odd) {
		margin-left: 10%;
	}
	.ward-item>.p1 {
		margin-top: 17%;
	}
	.ward-item>.p2 {
		font-size: 13px;
		margin-bottom: 16px;
	}
	.ward-item>img {
		width: 44px;
		margin: 6% 0 4% 0;
	}
	.swiper2 {
		margin-top: 9%;
		height: auto;
	}
	.case-left-up {
		width: 88%;
	}
	.case-left-down {
		width: 88%;
	}
	.case-right-only {
		width: 117%;
		height: auto;
	}
	/*slide6*/
	.case-left-down {
		height: 49%;
	}
	.case-study {
		width: 88%;
		height: auto;
		position: relative;
	}
	.case-right {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 54%;
	}
	.case-mask>h3 {
		font-size: 14px;
		letter-spacing: 0;
		padding: 2px 6px;
	}
	/*last slide*/
	.contact-us>.ward-t {
		padding-left: 20px;
	}
	.t-and-e>p {
		padding-left: 20px;
	}
	.submit_close {
		display: block;
		position: absolute;
		top: 10px;
		left: 0;
	}
	.submit {
		float: none;
	}
	.indexpage7-up-right {
		opacity: 0;
		width: 100%;
		height: 92%;
		z-index: -10;
		background-image: url("../../img/index/indexpage4-m.png");
	}
	.qrcode-con {
		margin-left: 16px;
	}
	.indexpage7-up-left {
		justify-content: center;
		display: flex;
		align-items: center;
	}
	.indexpage7-up-left {
		position: absolute;
		top: 2%;
		left: 0;
		width: 100%;
		height: 70%;
		background-color: transparent;
	}
	.indexpage7-up {
		background-color: transparent;
	}
	.contact-us {
		width: 88%;
		height: auto;
		margin: 0;
	}
	.qrcode-con-item>p {
		font-size: 12px;
		margin-bottom: 12px;
	}
	.qrcode-con-item {
		width: 48%;
		margin-right: 1%;
		margin-bottom: 12px;
		text-align: center;
	}
	.qrcode-con-item>img {
		width: 69%;
		max-width: 200px;
	}
	.t-and-e {
		margin-bottom: 10%;
	}
	.submit-need {
		display: inline-block;
		float: right;
		margin-right: 37px;
		margin-top: 20px;
	}
	.footer-line>a {
		font-size: 14px;
		line-height: 14px;
	}
	.footer-line {
		padding-top: 6px;
	}
	.footer-down {
		margin-top: 6px;
	}
	.qiniuniu>a>img {
		width: 33px;
	}
	.qiniuniu {
		margin-top: 2px;
	}
	/*nav*/
	.nav {
		width: 120px;
	}
	.nav_ul>li>a>span {
		width: 80px;
	}
	.nav_ul>li {
		padding: 2px 0;
	}
	.nav_ul_open {
		height: 156px;
	}
}
/*news*/
.news_m {
	display: none;
}
@media screen and (max-width:768px) {
	.layui-flow-more {
		margin: 40px 0;
	}
	/*pc hide*/
	.news_p {
		position: absolute;
		opacity: 0;
		z-index: -100;
	}
	.news_m {
		display: block;
		margin-top: 50px;
	}
	body {
		background-color: #eeeeee;
	}
	.nav_btn, .nav_btn1, .nav_btn_m {
		position: fixed;
	}
	/*join page*/
	.news_m_bg {
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-image: url("../../img/news/news-bg-m.png");
		height: 100px;
	}
	.news_m_tab {
		overflow: hidden;
	}
	.news_m_tab_item {
		width: 26%;
		margin: 0 12%;
		height: 46px;
		line-height: 50px;
		float: left;
		text-align: center;
	}
	.news_m_tab_item.active {
		border-bottom: 4px solid #c88800;
		color: #c88800;
	}
	.news_m_card {
		width: 74%;
		margin: 2% 8% 2% 8%;
		background-color: #ffffff;
		border-radius: 10px;
		padding: 2% 5%;
	}
	.news_m_card>a>h3 {
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		font-size: 20px;
		margin-bottom: 6px;
		max-height: 40px;
	}
	.news_m_card>a>img {
		width: 100%;
	}
	.m_card_addr {
		overflow: hidden;
		font-size: 14px;
		color: #666666;
		margin: 6px 0;
	}
	.m_card_addr1 {
		width: 70%;
		float: left;
		overflow : hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.m_card_addr2 {
		width: 30%;
		float: right;
		overflow : hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-align: right;
	}
	.m_card_intro {
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		font-size: 16px;
		line-height: 16px;
		max-height: 32px;
	}
	.news_m_con2>.news_m_card>.m_card_addr>.m_card_addr2 {
		width: 100%;
	}
}
/*detail*/
.footer-down-news-m {
	display: none;
	background-color: #ffffff;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
}
.detailcon-icon-br {
	display: none;
}
@media screen and (max-width:768px) {
	.footer-down-news-p {
		display: none;
	}
	.footer-down-news-m {
		display: block;
	}
	.detailcon {
		position: relative;
		top: 57.5px;
		min-height: calc(100% - 57.5px - 74px);
		padding-bottom: 74px;
	}
	.detailcon-main {
		width: 96%;
		left: 2%;
		overflow: visible;
	}
	.detailcon-tab {
		/*display: none;*/
	}
	.detailcon-article {
		margin: 0px 12px;
		padding-top: 20px;
	}
	.detailcon-article>h3 {
		font-size:  20px;
	}
	.detailcon-icon {
		border: 1px solid #c5c5c5;
		border-radius: 10px;
		padding-top: 4px;
		margin-bottom: 16px;
	}
	.detailcon-icon>div {
		margin-bottom: 4px;
		border: none;
	}
	.detailcon-icon-br {
		display: block;
	}
	/*.detailcon-icon>div:last-child {*/
		/*margin-bottom: 16px;*/
	/*}*/
	.detailcon-tab {
		position: relative;
		left: 2%;
		width: 96%;
		text-align: center;
		/*height: 195px;*/
		overflow: hidden;
		margin-bottom: 20px;
	}
	.detailcon-tab>h3 {
		font-size: 18px;
	}
	.detailcon-tab>span {
		opacity: 0;
	}
	.detailcon-card {
		float: left;
		width: 44%;
		margin: 0px 3% 10px 3%;
	}
	.detailcon-tab>a:nth-child(5) {
		display: none;
	}
	.detailcon-card-right {
		text-align: center;
	}
	.detailcon-card-right img {
		padding-left: 0;
		margin: 0 auto;
		width: 86%;
		padding-bottom: 4px;
	}
	.detailcon-card-right>span {
		margin-left: 0;
	}
	.detailcon-card-right>h4 {
		margin: 6px 7%;
		font-size: 16px;
		font-weight: normal;
	}
	.detailcon-tab>a>.detailcon-card:nth-child(3) {
		display: none;
	}
}