.yunying h1,.join_box h1,.strategy h1{font-size:56px;}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.banner{margin-top:58px;}
.contents{width:69%;margin:0 auto;}
.join_box{padding:2% 0;}
.join_box h2{font-size:36px;font-weight:bold;color:#a87200;padding-top:66px;padding-bottom:14px;transition:1s all;}
.join_box h1{font-weight:bold;padding:20% 0;}
.join_right,.join_left{width:50%;float:left;}
.border{width:49%;float:left;margin-bottom:1%; display: flex;margin-left: 1%;}
.border p{font-size:20px;padding:6px 0;transition:1s all;}
.border>div{text-align:left;height:273px;width:275px;border:1px solid #fff;padding-left:34px;background:#f0f0f0;transition:1s all;box-shadow:0px 8px 10px #c4c4c4;}
.join_box>div>div>div:hover{background:#a87200;transition:1s all;}
.join_box>div>div>div:hover h2{color:white;transition:1s all;}
.join_box>div>div>div:hover p{color:white;transition:1s all;}
.join_right span{background: #a87200;color: #fff;padding: 3% 3%;}
.join_right>div{padding-left:20%;}
.icon{width:25%;float:left;padding:44px 0 90px 0;}
.yunying{text-align:center;padding:2% 0;}
.yunying>p{line-height:2rem;}
.yunying h1{text-align:center;padding:40px 0 20px 0;}
.yunying>div p{text-align:center;font-size:24px;padding:20px 0;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{position:static;}
.swiper-pagination-bullet {width: 26px;height: 3px;border-radius:2%;background: #000;opacity: 0.6;}
.swiper-pagination-bullet-active{opacity: 1;background: #d1a145;}


.strategy{background:url("../../img/join/bg.png")no-repeat;width:100%;height:auto;}
.strategy_box{width:70%;margin-bottom:3%;font-size: 24px;display:inline-block;}
.strategy_box img{border-radius:50%;width:100%;border: 4px solid rgba(255,255,255,.7);}
.strategy_box_left{float:left;}
.strategy_box_right{float:left;}
.strategy_box_right img,.strategy_box_left img{ width:12rem;}
.strategy h1,.strategy>p{color:#c88800;}
.strategy h1{padding-top:3%;}
.strategy>div>p{text-align:center;font-size:56px;padding-bottom:2%;color: #c8ad71;}
.f_l,.f_r{float:left;width:49%;}
.f_l{text-align:right;padding-right:1%;}
.f_r{padding-left:1%;}
.strategy_box_font{margin-top:19%;}
/*.bg_bg{background:url("")}*/
.fulls{width: 100%;}
.bd_l{width:65%;}
.bd_r{width:35%;}
.left_box{width:40%;float:left;margin-right:10%;margin-top:16%;margin-bottom: 14%;}
.right_box{width:50%;float:left;padding:2% 0;}
.left_box h1,.right_box h1{font-size:56px;}
.left_box p{width:50%;float:left;}
.left_box p span{line-height:2rem;}
.left_box>div>div{margin-top:2%;}
.right_box>div{width:48%;float:left;padding:0 1%;}
.right_box>div>div>h3{border-bottom:1px solid #333;line-height:2.5rem;font-size:26px;}
.right_box>div>div>p{line-height:1.5rem;}
.swiper_left{width:30%;margin-right:20%;float:left;}
.swiper_right{width:50%;float:left;}
.swiper_left>div{width:33.333%;float:left;text-align:center;margin-top: 10%;}
.swiper_left h1{font-size:56px;padding:29% 0 11% 0;color:#c88800;}
.swiper_left h2{font-size:36px;padding:2% 0;}
.swiper_left p{line-height:1.5rem;}
.swiper_right img{padding:80px 0;border-radius:4%;}

.mid_box{
    height: 14rem;
}
.f_l .mid_box .ml_box,.f_l .mid_box .mr_box{
    float:right;
}
.f_r .mid_box .ml_box,.f_r .mid_box .mr_box{
    float:left;
}
.mid_box img{
    height: 12rem;
    border-radius: 50%;
    border:4px solid rgba(255,255,255,0.8);
}
.mid_box .ttt{
    padding-top: 4rem;
    font-size: 24px;
}
.ttt p{
    line-height: 32px;
}
.f_l .ttt{
    padding-right: 2rem;
}
.f_r .ttt{
    padding-left: 2rem;
}
.gua{
padding: 2rem 0;
}

/*********************************************************/
@media screen and (max-width: 768px) {
    .contents {
        width: 98%;
        margin: 0 1%;
    }
    .join_box {
        position: relative;
        padding-top: 102px;
    }
    .join_right {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .join_right>div {
        padding: 0 2%;
        text-align: center;
    }
    .join_right>div>h1 {
        font-size: 28px;
        line-height: 30px;
        padding: 0;
        margin: 20px 0;
        font-weight: normal;
    }
    .join_right>div>span {
        padding: 6px;
    }
    .join_left {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
    }
    .border {
        width: 41%;
        margin-bottom: 2%;
    }
    .border:nth-child(odd) {
        margin-left: 8%;
    }
    .border:nth-child(even) {
        margin-left: 2%;
    }
    .border>div {
        padding: 0 4%;
        height: 150px;
        text-align: center;
    }
    .border>div>h2 {
        padding: 30px 0 10px 0;
        font-weight: normal;
        font-size: 20px;
    }
    .border>div>p {
        font-size: 14px;
    }
    .yunying>h1 {
        font-size: 28px;
        line-height: 30px;
        padding: 20px 0 10px;
    }
    .yunying>p {
        font-size: 14px;
        line-height: 20px;
        padding: 0 10%;
    }
    .icon {
        padding: 44px 0 4px 0;
    }
    .icon>span>img {
        width: 98%;
        margin-left: 1%;
    }
    .swiper-slide>.icon>p {
        font-size: 14px;
        padding: 20px 12px;
    }
    .yunying h1, .join_box h1, .strategy h1 {
        font-size: 28px;
        padding-top: 20px;
    }
    .strategy>div>p {
        font-size: 28px;
        padding-bottom: 20px;
    }
    .f_l .mr_box {
        width: 80%;
        margin-right: 10%;
    }
    .f_r .mr_box {
        width: 80%;
        margin-left: 10%;
    }
    .mr_box>img {
        width: 100%;
        height: auto;
    }
    .mid_box .ttt {
        padding: 10px 0;
        font-size: 14px;
        width: 100%;
        text-align: center;
    }
    .ttt p {
        line-height: 20px;
    }
    .left_box {
        width: 96%;
        margin: 2%;
        padding-top: 20px;
    }
    .left_box h1, .right_box h1 {
        font-size: 28px;
        text-align: center;
        padding: 0!important;
        line-height: 36px;
    }
    .left_box h1:nth-child(2) {
        height: 40px;
    }
    .left_box p {
        text-align: center;
    }
    .left_box p img {
        vertical-align: sub;
        width: 21px;
        margin-right: 4px;
    }
    .right_box {
        width: 96%;
        margin: 2%;
    }
    .right_box>div>div>h3 {
        font-size: 20px;
    }
    .swiper_left {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }
    .swiper_left h1 {
        padding: 20px 0;
        font-size: 28px;
        text-align: center;
    }
    .swiper_left h2 {
        font-size: 22px;
    }
    .swiper_right {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }
    .swiper_right img {
        padding: 20px 0;
        width: 90%;
        margin-left: 5%;
    }
    .last-pagination {
        text-align: center!important;
        padding: 0px 0 20px;
    }
    .right_box>div:nth-child(odd) {
        width: 47%;
        float: left;
        padding: 0 1% 0 2%;
    }
    .right_box>div:nth-child(even) {
        width: 47%;
        float: left;
        padding: 0 2% 0 1%;
    }
    .qiniuniu>a>img {
        width: 32px;
    }
}